.sidebar{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 100vh;
    /* position: fixed; */
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    
}
.menu-icon{
    width: 3rem;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3rem 0;
}
.sidebar-logo h1{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.sidebar-logo h1 .admin-color{
    font-size: 1.5rem;
    color: blue;
}
.profile-check{
    margin-top:1rem;
}